<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $4 per month</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem,
      voluptatibus.
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter a domain name here..."
    />
    <button class="btn btn--accent">
      <svg class="icon icon--primary">
        <use xlink:href="../images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
</section>
<ul class="list block-domain__prices">
  <li><span class="badge badge--secondary">.com $9</span></li>
  <li>.sg $10</li>
  <li>.ua $7</li>
  <li>.info $8</li>
  <li>.net $9</li>
  <li>.io $4</li>
</ul>
